*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
main {
    height: 100vh;
    background-image: url("media/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.taskbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    gap: 10px;
    z-index: 300;
}
.taskbar .start-btn {
    border: 1px solid #ddd;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}
.taskbar .start-btn div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    transition-duration: 0.3s;
}
.taskbar .start-btn div:hover{
    background-color: #fff;
}
.taskbar .start-btn div:active img{
    transform: scale(75%);
}
.taskbar .start-btn div img{
    height: 25px;
    width: 25px;
    transition-duration: 0.2s;
}
.taskbar .container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}
.taskbar .apps{
    min-width: 300px;
}
.taskbar .apps ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.taskbar .apps ul li{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 2px;
    transition-duration: 0.3s;
}
.taskbar .apps ul li:hover{
    background-color: #fff;
}
.taskbar .apps ul li:active img{
    transform: scale(75%);
}
.taskbar .apps ul li img{
    height: 25px;
    width: 25px;
    transition-duration: 0.2s;
}
.taskbar .time div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    padding: 5px;
    transition-duration: 0.3s;
    border-radius: 10px;
    user-select: none;
    height: 40px;
    gap: 10px;
}
.taskbar .time div:hover{
    background-color: #fff;
}
.taskbar .tools span{
    transition-duration: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
}
.taskbar .tools span:hover{
    background-color: #fff;
}
.start{
    position: absolute;
    bottom: -200%;
    left: 50%;
    transform: translate(-50%,0);
    width: 600px;
    height: 700px;
    margin-bottom: 60px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}

.open-start {
    bottom: 0 !important;
    transition-duration: 0.5s;
}

.start .recommended{
    padding: 30px;
    margin: 10px;
    height: 16%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.50);
    display: flex;
    align-items: center;
}

.start .recommended ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
    gap: 10px;
}
.start .recommended ul li{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition-duration: 0.3s;
    display: inline;
    width: calc(50% - 5px);
}
.start .recommended ul li:hover{
    background-color: #fff;
    border: 1px solid #ddd;
}
.start .pinned{
    padding: 30px;
    margin: 10px;
    height: 84%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.50);
}
.start .pinned ul{
    list-style: none;
    margin: 20px;
}
.start .pinned ul h4{
    margin: 15px 0;
}
.start .pinned ul li {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid transparent;
    transition-duration: 0.3s;
}
.start .pinned ul li:hover{
    background-color: #fff;
    border: 1px solid #ddd;
}
.start .pinned ul li img{
    width: 40px;
    height: 40px;
}

[title]{
    position: relative;
}

[title]:hover::after {
    content: attr(title);
    color: black;
    position: absolute;
    transform: translateY(calc(-100% - 1.5em));
    border: 1px solid #cecece;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.9em;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.5s;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(calc(-100% - 3em));
    }
    to {
        opacity: 1;
    }
}

.desktop {
    padding: 10px;
    height: calc(100% - 60px);
}

.window {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid #dfedee;
    padding: 40px 10px 10px 10px;
    border-radius: 10px;
    min-width: 300px;
    min-height: 300px;
    width: 800px;
    height: 500px;
    overflow: hidden;
    z-index: 50;
    resize: both;
    box-shadow: 0 0 15px rgba(45, 45, 45, 0.25);
}

.window.open-window{
    display: block;
}

.window.full-screen-window {
    width: 100%;
    height: 100%;
}

.window.top{
    z-index: 60;
}

.window > .header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 20;
    user-select: none;
}

.window > .header > .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.window > .header > .tools > span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
}

.window > .header > .tools > span.close:hover {
    background-color: red;
    color: white;
}
.window > .header > .tools > span.full-screen:hover {
    background-color: #c6d2d3;
    color: black;
}