.notepad-textarea {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 5px;
    outline: none;
    background-color: transparent;
    border: 0;
    resize: none;
    padding: 15px;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}