.window#settings {
    overflow: hidden;
}
.window#settings .body {
    display: flex;
    flex-direction: row;
}
.window#settings .body nav{
    padding: 10px;
}
.window#settings .body nav ul{
    list-style-type: none;
}
.window#settings .body nav ul li{
    padding: 5px 10px;
    transition-duration: 0.3s;
    user-select: none;
    border-radius: 5px;
}
.window#settings .body nav ul li:hover{
    background-color: #fff;
}

.window#settings .body .container{
    padding: 50px;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
}
.window#settings .change-bg{
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.window#settings #current-background{
    display: inline;
    width: 320px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #000;
    background-image: url(../media/bg2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.window#settings .bgs {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 15px;
    max-width: 430px;
    align-content: center;
}
.window#settings .bgs .bg{
    width: 100px;
    height: 75px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition-duration: 0.1s;
    overflow: hidden;
    outline-width: 1px;
    outline-style: solid;
    outline-color: transparent;
    outline-offset: 0;
}

.window#settings .bgs .bg:hover{
    outline-width: 1px;
    outline-style: solid;
    outline-color: #0085ff;
    outline-offset: 1px;
}

.window#settings .bgs .bg img{
    height: 100%;
}

.window#settings .settings-section{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}