.window#settings h2{
    width: 80%;
    margin: 10px auto;
}
.window#settings .settings-sec{
    width: 80%;
    margin: 0 auto;
}
.window#settings .change-bg{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.window#settings #current-background{
    display: inline;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    border: 3px solid #fff;
    background-image: url('../media/bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.window#settings .bgs {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 500px;
}
.window#settings .bgs .bg{
    width: 150px;
    height: 112px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ddd;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

.window#settings .bgs .bg:hover{
    border-color: #009dff;
}

.window#settings .bgs .bg img{
    height: 100%;
}

.window#settings .change-taskbar-style{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}