.start{
    position: absolute;
    bottom: -200%;
    width: 600px;
    height: 700px;
    margin: 5px 5px 60px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
    z-index: 200;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #000;
}

.start.center-style{
    left: 50%;
    transform: translate(-50%,0);
}

.start.left-style{
    left: 0;
}

.open-start {
    bottom: 0 !important;
    transition-duration: 0.5s;
}
.start .pinned{
    padding: 30px;
    margin: 10px;
    height: 84%;
    border-radius: 10px;
    user-select: none;
}
.start .pinned ul{
    list-style: none;
    margin: 20px;
}
.start .pinned ul h4{
    margin: 15px 0;
}
.start .pinned ul li {
    width: 80px;
    height: 80px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid transparent;
    transition-duration: 0.3s;
}
.start .pinned ul li:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.start .pinned ul li img{
    width: 40px;
    height: 40px;
}