.taskbar {
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    z-index: 300;
    transition-property: gap, margin;
    transition-duration: 0.5s;
}
.taskbar .start-btn {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar .start-btn div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.taskbar .start-btn div:hover{
    background-color: #fff;
}

.taskbar .start-btn div:active img{
    transform: scale(75%);
}

.taskbar .start-btn div img{
    height: 25px;
    width: 25px;
    transition-duration: 0.2s;
}

.taskbar .container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

.taskbar .apps ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.taskbar .apps ul li{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 2px;
    transition-duration: 0.3s;
}

.taskbar .apps ul li:hover{
    background-color: #fff;
}

.taskbar .apps ul li:active img{
    transform: scale(75%);
}

.taskbar .apps ul li img{
    height: 25px;
    width: 25px;
    transition-duration: 0.2s;
}

.taskbar .time div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding: 8px;
    transition-duration: 0.3s;
    border-radius: 10px;
    user-select: none;
    height: 40px;
    gap: 10px;
}

.taskbar .time div:hover{
    background-color: #fff;
}

.taskbar .tools div{
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    padding: 8px;
    height: 40px;
}

.taskbar .tools div:hover{
    background-color: #fff;
}
/**************************/
.taskbar.modern-style {
    left: 50%;
    transform: translate(-50%,0);
    right: 0;
    height: 50px;
    margin: 5px;
    gap: 10px;
}
.taskbar.modern-style .start-btn {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}

.taskbar.modern-style .container {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}

.taskbar.modern-style .apps{
    min-width: 300px;
}

/*********************************/

.taskbar.classic-style {
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}