.taskbar {
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    z-index: 300;
    transition-property: gap, margin;
    transition-duration: 0.5s;
}

.taskbar > div{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
}
.taskbar .center {
    justify-content: center;
    order: 20;
}

.taskbar .left {
    justify-content: flex-end;
    order: 10;
}

.taskbar .right {
    justify-content: flex-start;
    order: 30;
}

.taskbar .start-btn {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar .start-btn div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 10px;
    transition-duration: 0.3s;
}

.taskbar .start-btn div:hover{
    background-color: #fff;
}

.taskbar .container div:hover{
    background-color: #fff;
}

.taskbar .start-btn div:active img{
    transform: scale(75%);
}

.taskbar .start-btn div img{
    height: 25px;
    width: 25px;
    transition-duration: 0.2s;
}

.taskbar .container {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

.taskbar .apps ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.taskbar .apps ul li{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 2px;
    transition-duration: 0.3s;
}

.taskbar .apps ul li:hover{
    background-color: #fff;
}

.taskbar .apps ul li:active img{
    transform: scale(75%);
}

.taskbar .apps ul li img{
    height: 25px;
    width: 25px;
    transition-duration: 0.2s;
}

.taskbar .time div{
    flex-direction: row;
    font-size: 12px;
    user-select: none;
    gap: 10px;
}

.taskbar .tools div{
    gap: 20px;
}

.taskbar .container div{
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 8px;
    height: 40px;
}
/************ bubbles-style **************/
.taskbar.bubbles-style {
    right: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin: 5px;
    gap: 10px;
}

.taskbar.bubbles-style > div{
    gap: 10px;
}

.taskbar.bubbles-style .center{
    flex: none;
}

.taskbar.bubbles-style .start-btn {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}

.taskbar.bubbles-style .container {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}

.taskbar.bubbles-style .apps{
    min-width: 300px;
}

/*************** joined-style ******************/

.taskbar.joined-style {
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.taskbar.joined-style > div {
    flex: none;
}

.taskbar.joined-style .left{
    order: 25;
}

.taskbar.joined-style > div > div{
    border-radius: 0;
}

/************* boxs-style ***************/
.taskbar.boxs-style{
    right: 0;
    left: 0;
    margin: 5px;
    gap: 10px;
}

.taskbar.boxs-style > div:not(.center) {
    gap: 10px;
}

.taskbar.boxs-style .center {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    border: 1px solid #ddd;
}

.taskbar.boxs-style .apps {
    padding: 5px 0;
}

.taskbar.boxs-style .tools,.taskbar.boxs-style .time,.taskbar.boxs-style .weather {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
}