.tools-section{
    position: absolute;
    bottom: -100%;
    right: 0;
    width: 350px;
    height: 400px;
    margin: 60px 10px;
    display: flex;
    gap: 5px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.4, .01, .15, 1.1);
    z-index: 150;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.open-tools-section {
    bottom: 0 !important;
    transition-duration: 0.5s;
}

.tools-section ul {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
    align-items: start;
    padding: 10px;
}
.tools-section ul > div{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.tools-section ul > div > div li {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    flex: 1;
    transition-duration: 0.3s;
}
.tools-section ul > div > div li.turned-on{
    background-color: #0085ff;
    color: #fff;
}
.tools-section ul > div > div {
    flex: 1;
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.tools-section ul > div > div span{
    text-align: center;
    font-size: 12px;
}