.desktop {
    padding: 10px;
    height: calc(100% - 60px);
}

.window {
    border-radius: 5px;
    display: none;
    position: absolute;
    padding: 40px 10px 10px 10px;
    min-width: 300px;
    min-height: 300px;
    width: 1200px;
    height: 750px;
    overflow: hidden;
    z-index: 50;
    resize: both;
    outline: 2px solid rgba(255, 255, 255, 0.5);
    background-image: url(../media/bgs/main.jpg);
    background-size: cover;
    left: 20%;
    top: 10%;
}

.window.open-window{
    display: block;
}

.window.maxmize-window {
    transition-duration: 0.3s;
    top: 10px !important;
    left: 10px !important;
    width: calc(100% - 20px) !important;
    height: calc(100% - 80px) !important;
    resize: none;
}

.window.top{
    z-index: 60;
    outline-color: rgba(0, 133, 255, 1);
}

.window > .header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    z-index: 20;
    user-select: none;
    background-color: transparent;
}

.window > .header > span {
    color: #fff;
    padding: 0 10px;
}

.window > .header > .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    gap: 5px;
    margin-right: 5px;
}

.window > .header > .tools > span {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition-duration: 0.3s;
}
.window > .header > .tools > span:hover {
    background-color: rgba(255, 255, 255);
}
.window > .header > .tools > span.close:hover {
    color: black;
}
.window > .header > .tools > span.window-maxmize-btn:hover {
    color: green;
}

.window .body {
    overflow: auto;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
    overflow: hidden;
    background-color: transparent;
}