.desktop {
    padding: 10px;
    height: calc(100% - 60px);
}

.window {
    display: none;
    position: absolute;
    padding: 40px 10px 10px 10px;
    min-width: 300px;
    min-height: 300px;
    width: 1200px;
    height: 750px;
    overflow: hidden;
    z-index: 50;
    resize: both;
    border: 1.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
}

.window.open-window{
    display: block;
}

.window.maxmize-window {
    transition-duration: 0.3s;
    width: 100% !important;
    height: calc(100% - 60px) !important;
    top: 0 !important;
    left: 0 !important;
    resize: none;
    border-radius: 0 !important;
}

.window.top{
    z-index: 60;
    border-color: rgba(0, 133, 255, 1);
}

.window > .header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    z-index: 20;
    user-select: none;
    background-color: transparent;
}

.window > .header > span {
    color: #0085ff;
    padding: 0 10px;
}

.window > .header > .tools {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    overflow: hidden;
    gap: 5px;
    margin-right: 5px;
}

.window > .header > .tools > span {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.3s;
    cursor: pointer;
    color: #0085ff;
    border: 1px solid transparent;
}
.window > .header > .tools > span:hover {
    background-color: #fff;
    border-color: #ddd;
}
.window > .header > .tools > span.close:hover {
    color: red;
}
.window > .header > .tools > span.window-maxmize-btn:hover {
    color: green;
}

.window .body {
    overflow: auto;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}